body {
    background-color: white;
    overflow-x: hidden; 
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    outline: 0;
}
html {
    scroll-behavior:smooth;
}
.xz {
    text-align: center;
    margin-top: 10%;
}
.column0 {
    margin-left: 13%;
    margin-top: 8%;
}
.column {
    display: flex;
    flex-direction: row;
}
.ct-text4 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 500;
    width: 800px;
    margin-left: 12%;
    margin-top: 5%;
    border-top: 4px solid rgb(3, 178, 208);
    border-bottom: 4px solid rgb(3, 178, 208);
    border-radius: 2px;
    margin-bottom: 20%;
}
.column img {
    width: 550px;
    height: 350px;
}
.ct-text {
    width: 550px;
    height: 350px;
    background-color: #ffffff;
    text-align: center;
}
.column2 {
    display: flex;
    flex-direction: row;
}
.column2 img {
    width: 550px;
    height: 350px;
}
.ct-text2 {
    width: 550px;
    height: 350px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 23px;
}
.ct-text2 h2 {
    margin-top: 10%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.xz h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 45px;
    font-weight: 500;
}
.xz p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}
.krug {
    position: fixed;
    right: 3%;
    bottom: 3%;
    background-color: rgb(193, 193, 193);
    border: 2px solid rgb(193, 193, 193);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 1;
}
.strelka2 {
    width: 30px;
    z-index: 2;
    height: 30px;
    border-left: 5px solid white;
    border-bottom: 5px solid black;
    position: absolute;
    top: 35%;
    right: 25%;
    transform: rotate(135deg);
}
.header {
    display: inline-block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 100vw;
    height: 101vh;
    background-repeat: no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(pexels-fauxels.jpg);
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}
.button h1{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.button {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#magic a {
    text-decoration: none;
    color: white;
}
button {
    color: #ffffff;
    background: rgb(35, 35, 35);
    border: 3px solid rgb(141, 141, 141);
    border-radius: 18px;
    cursor: pointer;
    position: relative;
    padding: 22px 46px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
}
button:hover {
    z-index: 1;
    border-color: transparent;
    background: linear-gradient(
        90deg,
        #f9d923,
        #00a19d,
        #0c87b7,
        #cb49ff,
        #ff6666,
        #f9d923
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2, 4, 24);
    animation: glow 12s linear forwards;
}
@keyframes glow {

    from {
        background-position: 0%;
    }

    to {
        background-position: 400%;
    }

}

button::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: inherit;
    filter: blur(36px);
    opacity: 0;
    transition: .4s ease-out;
}

button:hover::before {
    opacity: 1; 
    z-index: -1;
}
#cp {
    padding: 5px;
    border-bottom: 4px solid palegoldenrod;
}
.proc {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.proc p {
    display: block;
    text-align: right;
    width: 600px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}
.proc h1 {
    display: block;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 50px;
    font-weight: 400;
}
.proc img {
    width: 700px;
    height: 700px;
    margin-left: 5%;
    margin-top: 0%;
}
#gpu {
    margin-top: 10%;
    padding: 5px;
    border-bottom: 4px solid rgb(255, 213, 122);
}
.nvidia {
    margin-top: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    height: 180vh;
}
.nvidia p {
    display: block;
    width: 600px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}
.nvidia h1 {
    display: block;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 50px;
    font-weight: 400;
}
.nvidia img {
    width: 700px;
    height: 700px;
    margin-left: 0%;
}
.nvidia-txt {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}
.nvidia-txt0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7%;
}
.proc-txt0 {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
}
.proc-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    padding: 15px;
}
li img {
    width: 40px;
}
.main {
    display: flex;
    flex-direction: column;
}
.text3 {
    display: flex;
    background-color: rgb(238, 238, 238);
    width: 100vw;
    height: 250vh;
    align-items: center;
    flex-direction: row;    
}
.color {
    background-color:rgb(238, 238, 238);
    height: 250vh;
    width: 100vw;
}
.ct-text3 {
    font-size: 20px;
}
.column {
    display: flex;
    flex-direction: column;
}
.text21 {
    display: flex;
    flex-direction: row;
}
.text2 p {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 25px;
    width: 500px;
    font-family: 'Cormorant Garamond', serif;
}
.line {
    width: 100px;
    background-color: rgb(152, 0, 172);
    border: 3px solid rgb(152, 0, 172);
    border-radius: 30px;
}
.text2 h2 {
    color: black;
    font-size: 30px;
    font-weight: 400;
    margin-top: 300px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}
.header h1 {
    color: white;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.text1 {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-family: 'Cormorant Garamond', serif;*/
    flex-direction: column;
}
.text1 p {
    text-align: center;
    width: 745px;
    height: 200px;
}
.footer p {
    text-align: center;
}

.footer {
    display: flex;
    position: relative;
    margin-top: 290%;
    bottom: -10px;
    left: -10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 100vw;
    background-color: black;
    color: gray;
    height: 8vh;
}
.header a {
    text-decoration: none;
    color: white;
    scroll-behavior:smooth;
}
.header a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #ffffff;
	content: "";
	transition: width 0.3s ease-out;
}
.header a:hover:after {
	width: 100%;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(238, 238, 238);
    width: 100vw;
    margin-top: 10%;
    font-size: 60px;
    font-weight: 400;
    height: 70vh;
    z-index: -1;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.cont-txt {
    font-size: 40px;
    font-weight: 500;
    margin-top: -5%;
}
.icons img {
    width: 50px;
    height: 50px;
}
#xz2 {
    font-size: 30px;
    font-weight: 400;
}
a {
    position: relative;
    text-decoration: none;
	line-height: 1;
    cursor: pointer;
}
.header::after {
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}
.header ul { 
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    
}
.strelka {
    width: 30px;
    height: 30px;
    border-left: 3px solid silver;
    border-bottom: 3px solid silver;
    position: relative;
    left: 50%;
    margin-top: -100px;
    animation: jump 1200ms infinite ease-in-out;
}
@keyframes jump {
    0%, 100% {
        transform: translateY(0%) rotate(-45deg);
    }
    50% {
        transform: translateY(25%) rotate(-45deg);
    }
}
#img1 {
    width: 400px;
    margin-left: 200px;
    margin-top: 200px;
    margin-bottom: 100px;
}


.login-box {
    width: 400px;
    height: min-content;
    padding: 40px;
    background: #fff;
    margin-top: 5%;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.login-box h2 {
    font-size: 2.2rem;
}

.login-box p {
    color: #404040;
    margin-top: 4px;
    font-size: 1.2rem;
}

form {
    text-align: left;
    margin-top: 30px;
}

form .form-group {
    margin: 18px 0;
}

form .form-group label {
    display: block;
    font-size: 20px;
    color: #101010;
}

form .form-group input {
    width: 90%;
    height: 40px;
    margin-top: 6px;
    padding: 0 12px 0 34px;
    border: 2px solid #c4c4c4;
    border-radius: 3px;
    font-size: 18px;
    color: #404040;
    transition: .3s;
}

form .form-group input:focus {
    border-color: #9212e7;
    box-shadow: 0 0 12px #debbff;
}

form .form-group input:valid {
    border-color: #9212e7;
    background: #f6e8ff;
}

form .form-group i {
    position: absolute;
    color: #404040;
    font-size: 20px;
    transform: translateX(12px) translateY(16px);
}

form .forgot {
    cursor: pointer;
    color: #3784ff;
    font-size: 18px;
}

form .forgot:hover {
    color: #124ce7;
}

form input[type="submit"] {
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 3px;
    font-size: 22px;
    margin-top: 28px;
    color: #fff;
    background: linear-gradient(
        0deg, #124ce7, #3784ff
    );
}